*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(185, 185, 185);
    font-family: 'Indie flower';
}

div {
    width: 250px;
    min-height: 200px;
    margin: 30px;
    box-shadow: 5px 5px 10px gray;
    box-shadow: 10px gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 24pt;
}

h2 {
    font-size: 24pt;
    font-weight: bold;
}

p {
    font-size: 20pt;
}

.bg-yellow{
    background-image: linear-gradient(rgb(255, 245, 139) 70%, rgb(201, 201, 169));
    rotate: -5deg;
}

.bg-green{
    background-image: linear-gradient(rgb(173, 255, 228) 70%, rgb(169, 199, 201));
    rotate: 3deg;
}

.bg-purple{
    background-image: linear-gradient(rgb(182, 154, 255) 70%, rgb(185, 169, 201));
    rotate: -6deg;
}

div:hover{
    transform: scale(1.2, 1.2);
    rotate: 0deg;

    transition-duration: 0.2s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
div {
    opacity: 0; 
    animation: fadeIn 0.5s ease forwards; 
}
  
 /* uno alla volta */

div:nth-child(4) {
    animation-delay: 0.3s; 
}
div:nth-child(2) {
    animation-delay: 0.6s;
}
div:nth-child(1) {
    animation-delay: 0.9s; 
}
div:nth-child(5) {
    animation-delay: 1.2s; 
}
div:nth-child(3) {
    animation-delay: 1.5s; 
}
div:nth-child(8) {
    animation-delay: 1.8s; 
}
div:nth-child(6) {
    animation-delay: 2.1s; 
}
div:nth-child(7) {
    animation-delay: 2.4s; 
}